#logo{
	}

	body{
		background-image: url("../images/bg.jpg");
		background-position: center center;
	}


	#total-orders{
		background-color: #4cb4c7;
	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}

	html {
		font-size: 17px;
	  }

	  .table > tbody > tr > td {
		vertical-align: middle;
		font-size: large;
   }

