<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
	<title>Login | Books </title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--===============================================================================================-->	
<link rel="shortcut icon" type="image/png" href="{% static 'common/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'users/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'users/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'users/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'users/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%  static 'users/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'users/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'users/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%  static 'users/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'users/css/main.css' %}">
<!--===============================================================================================-->

</head>
<body>
	
	
	<div class="container-login100" style="background-image: url({% static 'users/images/bg-01.jpg' %});">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			{% block content %}
			  
			{% endblock content %}
			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	<div class="LoaderBalls">
	<div class="LoaderBalls__item"></div>
	<div class="LoaderBalls__item"></div>
	<div class="LoaderBalls__item"></div>
</div>
<!--===============================================================================================-->
	<script src="{%  static 'users/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'users/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'users/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{%  static 'users/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'users/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'users/vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{%  static 'users/vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'users/vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%  static 'users/js/main.js' %}"></script>

</body>
<script src="{% static 'common/jquery-3.5.0.min.js' %}"></script>
</html>