{% extends "books/main.html" %}

{% block content %}

<br>
<div class="col-md 5">
  <div class="card card-body">
    <h5>Book List</h5>
</div>
<br>

    {% if request.user.is_staff %}

      <a class="btn btn-primary" href="{% url 'books:bookcreate' %}">Add Book</a><br>
    {% endif %}

    <div class="card card-body">
        <table class="table table-hover">
            <tr>
                <th>Cover</th>
                <th>Title</th>
                
                {% if request.user.is_authenticated %}
                <th>Download</th>
                {% endif %}
                  
                <th>View</th>
                
                {% if request.user.is_staff %}
                  <th>Update</th>
                  <th>Remove</th>
                {% endif %}
                  

            </tr>

            {% for book in book_list %}
                <tr>
                    <td>
                    {% if book.image_url %}
                        <img src="{{ book.image_url }}"  alt="{{ object.title }}" style="width: 100px;">
                    {% else %}
                        <img src="{{ book.cover.url }}"  alt="{{ object.title }}" style="width: 100px;">
                    {% endif %}
                    </td>
                    <td valign="bottom">{{book.title}}</td>
                    
                      
                      {% if request.user.is_authenticated %}
                      <td>
                        {% if book.file %}
                        <a href="{{ book.file.url }}" class="btn btn-primary btn-sm" target="_blank">Download</a>
                        {% else %}
                        <i>Unavailable</i>
                        {% endif %}
                      </td>
                      {% endif %}
                        
                    <td><a class="btn btn-sm btn-info" href="{% url 'books:bookdetail' book.slug %}">View</a></td>
                    
                    {% if request.user.is_staff %}
                      <td><a class="btn btn-sm btn-warning" href="{% url 'books:bookupdate' book.slug %}">Update</a></td>
                      <td><a class="btn btn-sm btn-danger" href="{% url 'books:bookdelete' book.slug %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    

{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

{% endif %}
{% endblock content %}