{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img src="{% static 'books/images/bookshack.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:authorlist' %}">Author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:booklist' %}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:genrelist' %}">Genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:tbrlist' %}">Reading List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:search' %}">Search (BETA)</a>
      </li>
      {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books:batchload' %}">Batch Upload (BETA)</a>
      </li>
      {% endif %}
    </ul>
  </div>
  
  {% if request.user.is_authenticated %}
  <span class="hello-msg">Hello, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'profile' %}">Profile</a></span>
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  {% else %}
  <span ><a  class="hello-msg" href="{% url 'login' %}">Login</a></span>
  {% endif %}
    


</nav>